body {
    padding: 0;
    margin:0;

}

#main{
    border: 2px solid gray;
    border-color: blanchedalmond;
    width:70%;
    margin: 0 auto;
    padding: 1rem;
}

.articulo {
    padding: 40px;
}

#cabecera {
    color: white;
    background-color: blue;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

#cabecera h1, h3 {
    margin-left: 20px;

}